* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: rgb(207, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

#contenedor {
    width: 90%;
    margin-top: 0.5rem;
    margin-left: 5%;
    border: 0.1rem solid;
    background-color: rgb(204, 142, 255);
    border-radius: 1rem;
}

button {
  width: 10rem;
  height: 3.5rem; 
  font-size: 1.5rem;
}

.boton {
     width: 90%;
    margin-top: 0.6rem;

    text-align: right;
}

header {
    text-align: center;
    line-height: 2rem;
    height: 10rem;
}

header h1 {
    color: white;
}

h2{
    height: 2rem;
}

nav {
    
    width: 90%;
    border-radius: 1rem;
    margin: auto;
    height: 2rem;
    width: auto;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(75, 150, 150);
}

nav a{
    color: black;
    text-decoration: none;
}

nav ul{
    display: flex;
    justify-content: space-around;
    float: center;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 0.5rem;
    line-height: 0.8rem;
}

hr {
    clear: both;
    margin: 1rem;
}

section {
    width: 80%;
    height: 90%;
    margin: 1rem auto;
    border-radius: 1rem;
    border: 0.1rem rgb(0, 37, 68) solid;
    padding: 1rem;
    background-color: white;
}

section ul {
    padding: 0.2rem;
    margin-left: 0.5rem;
}

section a {
    color: black;
    text-decoration: none;
}

section a:hover {
    color: rgb(7, 108, 233);
}

.proyecto {
    display: flex;
    gap: 1rem;
}

.proyecto article {
    background-color: rgba(226, 209, 209, 0.568);
    padding: 1rem;
    border-radius: 1rem;
}


footer {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
}

.redes a:hover {
    background-color: rgb(25, 201, 255);
    color: white;
    border-radius: 0.1rem;
}



[type] {
    background-color: rgb(78, 236, 228);
}

a:link {
    color: rgb(38, 0, 255);
}

a:visited {
    color: rgb(179, 37, 179);
}

/* Responsive */
@media (max-width: 768px){
.proyecto{
    flex-direction: column;
}

nav{
    width: 100%;
    height: auto;
    border-top-right-radius: 1rem;
}

nav ul{
    display: grid;
 grid-template-columns: 1fr 1fr;
    
}



}

/*Codigo para modo osucro*/

body.active{
    background-color: rgb(4, 44, 44);
}

body.active section{
    background-color: rgb(33, 0, 54);
    color: rgb(208, 214, 208);
}